<!doctype html>
<html lang="en">

<head>
    <title>Post Media</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <nav class="navbar bg-body-tertiary" style="position:sticky;top:0;z-index:1" >
        <div class="container-fluid">
            <div class = "col-2">
                <label class="h3"><a href = "/main" class = "text-dark"><u>Postmedia</u></a><small>. </small></label>
            </div>
            <div class = "col-4">
                <form action = '/search' method = 'post' class="d-flex">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" name = "search_name"aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit"><i class="material-icons-outlined" >search</i></button>
                </form>
            </div>
            <div class="col-2 text-end">
                <label class="h5">@{{user.username}}</label>
                <a href="/profile/{{user.username}}"><img class = "rounded-circle"src="{{u_d.prof_img.url}}" alt="Bootstrap" width="40" height="30"></a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" >
            <div class="col-3 py-2 " >
                <div class="card mb-3" style="width: 18rem;position:sticky;top:70px;">
                    <div class="card-body">
                        <p class="card-text"><u>No. of Followers</u> : {{length_f_d_2}}</p>
                        <p class="card-text"><u>You are Following</u> : {{length_f_d}}</p>
                    </div>
                </div>
            </div>
            <div class="col-6  py-2">
                {% comment %} {{l_p_id}} {% endcomment %}
                {% for f in feeds %}
                {% for x in f %}
                <div class="row py-2">
                    <div class="col-4">
                        <div class="card border" style="width:555px;">
                            <a class="navbar-brand border-bottom" href="/profile/{{x.user}}">
                                <label class="h6 lead px-2">@<small><b>{{x.user}}</b></small></label>
                            </a>
                            <img src="{{x.postImg.url}}" class="card-img-top" style="width: 552px;height: 263px;">
                            <div class="card-body  text-center">
                                <h5 class="card-title">{{x.title}}</h5>
                                <textarea name="w3review" rows="8" cols="67" style="resize: none;"disabled>{{x.description}}</textarea>
                                <p><small class="text-body-secondary"style="font-size:14px;"><em style = "margin-left: 8px;">(Posted on : {{x.timePosted}})</em></small></p>
                                {% comment %} {{x.id|type}} {% endcomment %}
                                {% if x.id in l_p_id %}
                                <a href="/like_post?post_id={{x.id}}" class="btn btn-dark" >
                                    <span class="material-icons-outlined">thumb_up</span>
                                    <label>{{x.likes}}</label>
                                </a>
                                {% else %}
                                <a href="/like_post?post_id={{x.id}}" class="btn" >
                                    <span class="material-icons-outlined">thumb_up</span>
                                    <label>{{x.likes}}</label>
                                    <!-- <label>{{post_d.likes}}</label> -->
                                </a>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="col-3 py-2  text-center">
                <div class="card" style="position:sticky;top:70px;">
                    <div class="card-header">
                        <b><u>Your Followings</u></b>
                    </div>
                    <div class="card-body">
                        {% for f_d in fellow_ppl %}
                        {% for f_d_i in f_d %}
                            <a href="/profile/{{f_d_i.user}}" class = "text-dark">
                                <div class="card mb-3 border-light rounded-start">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="{{f_d_i.prof_img.url}}" class="rounded-circle text-end" style= "width:70px ; height:68px" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body ">
                                                <h6 class="h6 text-start">{{f_d_i.user}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>                        
                            </a>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="<KEY>"
    crossorigin="anonymous"></script>

</html>