<!doctype html>
<html lang="en">
  <head>
    <title>Create Post </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">
</head>
  <body>
    <div class="container-fluid" >
        <div class="row" >
            <div class="col-4">
                <div class="container-fluid" style="position:sticky;top:0">
                    <div class="col border-end" >
                        <div class="row">
                            <div class="text-center col">
                                <img src="{{detail.prof_img.url}}" class="rounded" style = "margin-top:5px; height:200px; width:200px">
                                <p class = "h5 " style = "margin-top:8px;"> {{user.username}} </p>
                                <p class="h6 lead">
                                    <em>"{{detail.status}}"</em>
                                </p>
                            </div>
                        </div>
                        <div class="row " style="padding-top:2%;width:102%">
                            <div class="col border-top" >
                                <div class="row">
                                    <a href="/home"class="btn text-start" style="display:inline-flex;width:102%;">
                                        <span class="material-icons-outlined "  >home</span>
                                        <label class="h5 lead px-3">Profile Home</label>
                                    </a>
                                </div>
                                <div class="row">
                                    <a href="/account" class="btn text-start" style="display:inline-flex;width:102%;">
                                        <span class="material-icons-outlined">settings</span>
                                        <label class=" h5 lead px-3">Account Settings</label>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:47%;">
                            <div class="col" style="padding-left: 13px;padding-right: 23px;">
                                <div class="row ">
                                    <button type="button" class="btn text-start border-end" style="display:inline-flex;margin-rigth:10%;">
                                        
                                        <label class=" h5 lead px-3" ></label>
                                    </button>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            {% block body %}
            <div class = "col-8 " >
                <div class="card mb-3" style="max-width: 100%;margin-top:1%;margin-right:0%">
                    <nav class="navbar bg-body-tertiary border" style="height:5">
                        <div class="container-fluid py-0" >
                            <a class="navbar-brand" href="#">
                                <img src="{{detail.prof_img.url}}" alt="Logo" width="50" height="40" class="d-inline" style="border-radius:10px">
                                    {% comment %} <label style="margin-left:2%;display:inline">Username</label> {% endcomment %}
                                    {% comment %} <h6 class="d-inline"style="opacity:0.7"> <em>(DD/MM/YYYY)</em></h6> {% endcomment %}
                            </a>
                        </div>
                    </nav>
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSowjKGUP8tcOoGVNrVcuuCpZbN0jsyRwzclg" class="img-fluid rounded-start" style = "height:344px ; width:352px;opacity:0.8"alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body" >
                                    <h5 class="card-title"><input type="text" class="form-control" placeholder="Post Title"name = "post_title" aria-label="Post Title" style="font-weight:bold;"></h5>
                                    <p class="card-text"> 
                                        <textarea class="form-control my-4" aria-label="With textarea" placeholder="Post Description"name = "post_body" aria-label="Post Description" rows ="5"style="resize: none"></textarea>
                                    </p>
                                    <div class="input-group">
                                        <input type="file" class="form-control" placeholder="Image" name = "post_img" aria-label="Upload" accept="image/*">
                                        <button class="btn btn-outline-secondary" type="submit" name="upload" disabled>Upload Image</button>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary my-2 mx-3" style="display:inline-flex;"name="add_post">
                                        <span class="material-icons-outlined " alt = "Post">post_add</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endblock body %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>